Flask_Script==2.0.5
flasgger==0.9.1
Flask_RESTful==0.3.6
Flask_Migrate==2.2.1
Flask_Security==3.0.0
SQLAlchemy==1.2.11
Flask_Admin==1.5.2
Flask==1.0.2
Flask_SQLAlchemy==2.3.2
psycopg2==2.7.1
gunicorn>=19.5.0
